<div class="all">
    <div class="vuz">
        <h1><b>1. МГУ</b></h1>
        <p>Московский государственный университет имени М. В. Ломоносова  — один из старейших и крупнейших классических университетов России, один из центров российской науки и культуры, расположенный в Москве.</p>
        <a href="https://www.msu.ru/" target="_blank"><b>Сайт вуза</b></a>
        <h3><b>Технические факультеты в этом вузе:</b></h3>
        <h5>1)<a href="https://math.msu.ru/" target="_blank">Механико-математический факультет</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году</b></h3></td>
            </tr>
            <tr>
                <td>"Математика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл 291</b> </td>
            </tr>
            <tr>
                <td>"Механика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл 287 </b> </td>
            </tr>
            <tr>
                <td>"Фундаментальная математика<br> и математическая физика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл 284</b> </td>
            </tr>

        </table><br>

        <h5>2)<a href="https://www.phys.msu.ru/" target="_blank">Физический факультет</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году </b></h3></td>
            </tr>
            <tr>
                <td>"Фундаментальная и прикладная физика"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл 289</b> </td>
            </tr>
            <tr>
                <td>"Астрономия"</td>
                <td>Математика<br>Русский язык<br>Физика<br><b>Проходной балл 267 </b> </td>
            </tr>
        </table>

        <h5>3)<a href="https://cs.msu.ru/" target="_blank">Факультет вычислительной математики и кибернетики</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году</b></h3></td>
            </tr>
            <tr>
                <td>"Прикладная математика и информатика"</td>
                <td>Математика<br>Русский язык<br>Физика<br>Информатика<br><b>Проходной балл 367</b> </td>
            </tr>
            <tr>
                <td>"Фундаментальная информатика и информационные технологии"</td>
                <td>Математика<br>Русский язык<br>Физика<br>Информатика<br><b>Проходной балл 371</b> </td>
            </tr>
        </table>
    </div>
    <div class="vuz">
        <h1><b>2. МИРЭА - Российский технологический университет</b></h1>
        <p>Признанный в России и в мире современный образовательный и научно-исследовательский центр, сочетающий в своей работе классические университетские традиции и современные образовательные технологии. Начиная с момента своего образования, вуз всегда шел в ногу со временем и постоянно расширял спектр образовательных программ в соответствии с потребностями страны в инженерных кадрах, одновременно повышая качество подготовки специалистов и добиваясь признания как в России, так и за ее пределами. РТУ МИРЭА сегодня является одним из лидеров в области подготовки высококвалифицированных специалистов для быстро развивающихся наукоемких отраслей науки и техники: телекоммуникаций, информационных и компьютерных технологий, автоматики, кибернетики, радиотехники и электроники, химии и биотехнологий.</p>
        <a href="https://www.mirea.ru/" target="_blank"><b>Сайт вуза</b></a>
        <h3><b>Технические факультеты в этом вузе:</b></h3>
        <h5>1)<a href="https://www.mirea.ru/education/the-institutes-and-faculties/institute-of-information-technology/about-the-institute/" target="_blank">Институт информационных технологий</a></h5>
        <table class="tvuz">
            <tr>
                <td><h3><b>Направление</b></h3></td>
                <td><h3><b>Предметы на ЕГЭ<br>Проходные баллы в прошлом году</b></h3></td>
            </tr>
            <tr>
                <td>"Прикладная математика"</td>
                <td>Математика<br>Русский язык<br>Информатика<br><b>Проходной балл 263</b> </td>
            </tr>
            <tr>
                <td>"Информатика и вычислительная техника"</td>
                <td>Математика<br>Русский язык<br>Информатика<br><b>Проходной балл 255 </b> </td>
            </tr>
            <tr>
                <td>"Прикладная информатика"</td>
                <td>Математика<br>Русский язык<br>Информатика<br><b>Проходной балл 243</b> </td>
            </tr>
            <tr>
                <td>"Программная инженерия"</td>
                <td>Математика<br>Русский язык<br>Информатика<br><b>Проходной балл 273</b> </td>
            </tr>

        </table><br>
    </div>
</div>

